# Ignore logs directory
logs/

# Ignore any system or IDE-specific files
.idea/
.vscode/
*.pyc
*.pyo
__pycache__/

# Ignore Docker-related files that are not necessary for version control
docker-compose.override.yml

# Ignore any other temporary files or folders
*.log
*.pid
*.sock
